@import "../../styles/config.scss";
@import "../../styles/breakpoint.scss";
// .sidebar {
//   width: 15.5rem;
//   min-height: 100vh;
//   .nav-item {
//     font-family: "helveticaneuelight";
//   }
// }
#accordionSidebar {
  position: relative;
}
.eep-navbar-newversion {
  margin-right: 14px;
}
.menu-bg-theme {
  background: transparent linear-gradient(180deg, #002d40 0%, #00090d 100%);
}
.profile-greet {
  font-family: "helveticaneuethin" !important;
}

.nav-item {
  .profile-nm {
    text-align: left;
    @include hd() {
      font-size: 16px;
      line-height: 22px;
    }
  }
}

// .sidebar-dark {
//   hr.sidebar-divider {
//     border-top: 1px solid rgba(255, 255, 255, 0.15);
//     margin: 0 1rem 1rem;
//   }
// }
