.category{
    overflow-x: scroll;
    margin-bottom: 12px;
    display: -webkit-box;
    padding: 0;
    
    .category_button {
        padding: 10px;
        border-radius: 7px;
        background: #f3f3f3;
        margin: 0px 4px px 0px;
        cursor: pointer;
        width: max-content !important;
    }
   }
   .search_input{
    max-width: 286px;
    margin-bottom: 22px;
 }



.list-item{
    display: flex; 
  padding: 0.5em;
  width: 100%;;
  text-align: start;
  .list-content{
    display: flex;
    flex-direction: column;
    background-color: #fff;
    padding: 1em;
    width: 100%;
  border-radius: 12px;

  
    .discription{
        flex: 1 0 auto;
        font-size: 12px !important;
        opacity: 0.8;
    }
  }
}


.coupon-container {
    background-color: #fff;
    margin-top: 15px;
    text-align: center;
}

.coupon-code {
    border-radius: 6px;
    box-shadow: #0000 0px 2px 10px;
    font-size: 20px;
    font-weight: bold;
    color: #333;
    background-color: #85879626;
    margin: auto;
    margin-bottom: 15px;
    padding: 4px 10px;
    width: max-content;
}



.expiration-date {
    font-size: 12px;
    color: #777;
}

::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #fff;
  }

  .reedem{
    .modalBodyHeight{
        text-align: start;
      }
     .modal-confirm{
        width: 480px;
        .modal-footer{
          padding: 0px;
      }
     }
    
    
     .modal-content{
        .eep-btn{
            border-radius:12px !important;
         }
         .eep-btn-success::before{
                border-radius:12px !important;
         }
         .eep-btn-success::after{
            border-radius:12px !important
        
         }
         .field-input{
            border: 1px solid #d4d4d4 !important
         }
     }
    
  }
  